.demo-logo {
  background-image: url('../assets/kenmec_without_background.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 8%;
  background-position: center;
}

.custom-header {
  /* background-color: rgba(240, 202, 167, 0.925); */
  background-color: white;
  /* background-color: #ffa153; */
  border-radius: 0 0 2px 2px;
}

.custom-header > ul {
  /* background-color: rgba(241, 204, 170, 0.925); */
  background-color: white;
  /* background-color: #ffa153; */
}

.custom-header span {
  color: rgb(34, 31, 31) !important;
  font-weight: bold;
}

.custom-header svg {
  fill: rgb(29, 83, 246);
}
