.demo-logo {
  background-image: url('../assets/kenmec_without_background.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 8%;
  background-position: center;
}

.custom-header {
    /* background-color: rgba(240, 202, 167, 0.925); */
    background-color: white
}

.custom-header > ul {
  /* background-color: rgba(241, 204, 170, 0.925); */
  background-color: white;
}


.custom-header span {
  color: black !important;
  font-weight: bold;
}

.custom-header svg {
  fill: rgb(29, 83, 246);
}
