.mission-wrap {
  height: 99%;
  width: 13%;
  position: absolute;
  right: 10px;
  top: 3px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  background-color: #ffffff00;
  border-radius: 8px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  overflow-y: scroll;
}

.mission-wrap::-webkit-scrollbar{
  display: none;
}

.row1-file, .row1-status, .row1-cancel {
  text-align: center;
  font-size: 80%;
  padding: 3.5px
}

.row1-file {
  background-color: rgb(165, 176, 193);
}

.row1-status {
  background-color: rgb(96, 124, 166);
  color: white;
  text-align:left
}

